<!-- här ska finnas slideshow -->
<!-- Container -->
<link rel="stylesheet" href="~/css/slideshow.css"/>



<div class="containerSS">

    <!-- Full-width images with number text -->
    <div class="mySlides">
        <div class="numbertext">1 / 6</div>
        <img src="/Pictures/Slideshow/Evolved-C418.png" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">2 / 6</div>
        <img src="/Pictures/Slideshow/lodsa.png" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">3 / 6</div>
        <img src="/Pictures/Slideshow/lenapop.png" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">4 / 6</div>
        <img src="/Pictures/Slideshow/lolman.png" style="width:100%">
    </div>


    <div class="mySlides">
        <div class="numbertext">5 / 6</div>
        <img src="/Pictures/Slideshow/op.png" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext">6 / 6</div>
        <img src="/Pictures/Slideshow/guy.png" style="width:100%">
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <!-- Image text -->
    <div class="caption-container">
        <p id="caption"></p>
    </div>

    <!-- Thumbnail images -->
    <div class="rowSS">
        <div class="columnSS">
            <img class="demo cursor" src="/Pictures/Slideshow/Evolved-C418.png" style="width:100%" onclick="currentSlide(1)" alt="C418">
        </div>
        <div class="columnSS">
            <img class="demo cursor" src="/Pictures/Slideshow/lodsa.png" style="width:100%" onclick="currentSlide(2)" alt="Kumi Tanioka">
        </div>
        <div class="columnSS">
            <img class="demo cursor" src="/Pictures/Slideshow/lenapop.png" style="width:100%" onclick="currentSlide(3)" alt="Lena Raine">
        </div>
        <div class="columnSS">
            <img class="demo cursor" src="/Pictures/Slideshow/lolman.png" style="width:100%" onclick="currentSlide(4)" alt="Samuel Åberg">
        </div>
        <div class="columnSS">
            <img class="demo cursor" src="/Pictures/Slideshow/op.png" style="width:100%" onclick="currentSlide(5)" alt="Aaron Cherof">
        </div>
        <div class="columnSS">
            <img class="demo cursor" src="/Pictures/Slideshow/guy.png" style="width:100%" onclick="currentSlide(6)" alt="Gareth Coker">
        </div>
    </div>
</div>

<script src="~/js/slideshow.js"></script>