@if (SQlite.GetUsername(Context) != null)
{
	<p>HEJ @SQlite.GetUsername(Context)</p>


	<form action="">
		<label for="fname">@SQlite.GetUsername(Context)</label><br>
		<input type="text" id="text" name="text"><br>
		<input type="submit" value="Submit">
	</form>






} else
{
	<p>Oobs! måste logga in för att posta i forumet!</p>
}