    

<link rel="stylesheet" href="~/css/index.css" />

    @{
        ViewData["Title"] = "Home Page";
    }


<div class="mainBackground">



    <div class="front-text-center">
        <h1 class="display-4 text-white" style="font-family: 'Comic Sans MS';">Minecraft Soundtrack </h1>
        <h3 class="text-white" style="font-family: 'Comic Sans MS';">something something something  </h3>
    </div>


</div>







<div class="text-center">
    <h1 class="display-4">@SQlite.GetUsername(Context)</h1>
    <p>
        Detta är vår hemsida<br> 
        
        @{/*Datumräknare*/}
        @DateTime.Now.ToString("yyyy-MM-dd  HH:mm")
        <br>

        @{/*Besöksräknare*/}
        Antal totala besök: @SQlite.countTotalVisitors()
        <br>
        Antal individuella besökare: @SQlite.countIndividualVisitors()

    </p>


    @{/*Vädertiteltext*/}
    <h2 class="display-4">Weather</h2>

    @{/*VäderAPI (snodd från internet)*/}
    <a class="weatherwidget-io" href="https://forecast7.com/en/55d3813d16/trelleborg/" data-label_1="TRELLEBORG" data-label_2="WEATHER" data-theme="original">TRELLEBORG WEATHER</a>
    <script>
        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
    </script> 
    <br>

    
    @{/*Radiotext*/}
    <h2 class="display-4">Radio Trelleborg 😊</h2>

    @{/*Skapar en audioplayer som strömmar från Radio Trelleborgs sida*/}
    <audio controls>
        <source src="https://stream.nsp.se/RaTbg_MP3_Lo" />
    </audio>
    <br><br>


    @{/*Bildspelstext*/}
    <h2 class="display-4">Bildspel</h2>

    @{/*Bildspel*/}
    <div style="width: 100%; display: flex; justify-content: center;">
        <partial name="_Slideshow.cshtml" />
    </div>


    
</div>
