@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello World</h1>
    <p>
        Detta är vår hemsida<br> 
        
        @DateTime.Now.ToString("yyyy-MM-dd  HH:mm")

    </p>
    <div style="width: 100%; display: flex; justify-content: center;">
        <partial name="_Slideshow.cshtml" />
    </div>
</div>
