@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello World</h1>
    <p>
        Detta är vår hemsida<br> 
        
        @DateTime.Now.ToString("yyyy-MM-dd  HH:mm")

        
        <!-- url action creates a full url to an action much like the nav bar buttons (source: https://stackoverflow.com/questions/2005367/getting-full-url-of-action-in-asp-net-mvc) -->
        <!-- this doesnt really work, but its supposed to connect to the file? how to connect to file?-->
        <!-- <iframe src="@Url.Action("SlideshowTEST")" frameborder="0" width="100%" height="300px"></iframe> -->
        
    </p>
    <div style="width: 100%; display: flex; justify-content: center;">
        <partial name="_Slideshow.cshtml" />
    </div>
</div>
