@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello World</h1>
    <p>
        Detta är vår hemsida<br> 
        
        @DateTime.Now.ToString("yyyy-MM-dd  HH:mm")

        
         <!-- this doesnt really work, but its supposed to connect to the file? how to connect to file?-->
         <a href="SlideshowTEST.cshtml">this wont work</a>
         <iframe src="SlideshowTEST.cshtml" frameborder="0" width="100%" height="300px"></iframe>
        
    </p>
</div>
