@using projektASP.Controllers

<link rel="stylesheet" href="~/css/base.css" />
<link rel="stylesheet" href="~/css/Login-register.css" />
@{
    ViewData["Title"] = "Home Page";
}


<div class="mainBackground" style="background-image: url('/Pictures/Login-Register/login-sky-background.png');">

    <div class="login-reg-box">
    <div style="display: flex; gap: 100px; justify-content: center;">
        <div style="display: flex; flex-direction: column;">


            <form method="post" asp-controller="Home" asp-action="OnLogin">
                    <h1 style="color:black;">Login</h1>
                    <br />
                    <p style="color:#104EB8;">Don't have an account? <a style="color: #51C64B;" href="Register"> Register now!</a></p>
    
                    <input name="usernameInput" type="text" placeholder="Enter username" class="cornerInput"/>
                <br />
                    <br />
                    <input name="passwordInput" type="password" placeholder="Enter password" class="cornerInput" />
                <br />
                    <br />
                <button type="submit" class="login-bt">Login</button>
                    <br />
                    <br />

            </form>
           



            </div>
        </div>

    </div>

</div>


