<link rel="stylesheet" href="~/css/forum.css" />

<div class="main-container">
	

		<form method="post" asp-controller="Home" asp-action="CreatePost">
			<div class="create-post-box">
				<label for="fname">Skapa ett inlägg</b></label><br>
				<br>
				<p><b>Namn</b></p>
				<input type="text" name="name" size="40" maxlength="100" /><br>
				<p><b>Titel</b></p>
				<input type="text" name="title" size="40" maxlength="100" /><br>
				<br>
				<p><b>Text</b></p>
				<input type="text" name="text" size="80" maxlength="400" style="height: 30px;"><br>
				<br>
				<input type="submit" value="Submit" style="color: white; border-radius: 10px; background-color: green;">
				<input name="forum" style="display: none" value="ForumFree">
			</div>
		</form>


	

	<!-- Mae will watch isak make a searchbar here -->

	<form method="post" asp-controller="Home" asp-action="SearchPost">
		<div class="searchbar">
			<p><b>Sök</b></p>
			<input type="text" name="search" size="80" />
			<input type="submit" value="Sök" style="color: white; border-radius: 10px; background-color: green;">
		</div>
	</form>

	<!--final posts goes here-->
	@{
		for (int i = (int)SQlite.GetTotalPostAmount("ForumFree"); i >= 0; i--)
		{
			if (SQlite.GetPostText("ForumFree", i) == null || SQlite.GetPostText("ForumFree", i) == "") { continue; }
			<div class="post-box">
				<div class="user-container">
					<img src=@SQlite.GetPFP(Context, "ForumFree", i) width="7%" style="border-radius: 20px;">
					<h3>@SQlite.GetPostUser("ForumFree", i)</h3>
				</div>
				<p><h2>@SQlite.GetPostTitle("ForumFree", i)</h2></p>
				<p>@SQlite.GetPostText("ForumFree", i)</p>
				<br>
				<div class="fictional-footer-container">
					@SQlite.GetPostTime("ForumFree", i)
					<button type="button">Click Me!</button>
				</div>
			</div>
		}
	}
</div>