


<!-- SNÄLLA ISAK BEHÅLL DENNA KODEN JAG ÄR SÅ STOLT OCH DEN ÄR INTE TOO SHABBY WSNÄLLA SNÄLLA-->
<!-- DEN HÄR GÖR SIDAN MER BOT SÄKER! ! ! -->
<!DOCTYPE html>  
<head runat="server">  
    <title>Home</title>  
    <script type="text/javascript">  
        function RedirectAfterDelayFn() {  
            var seconds = 3;  
            var dvCountDown = document.getElementById("CountDown");  
            var lblCount = document.getElementById("CountDownLabel");  
            dvCountDown.style.display = "block";  
            lblCount.innerHTML = seconds;  
            setInterval(function () {  
                seconds--;  
                lblCount.innerHTML = seconds;  
                if (seconds == 0) {  
                    dvCountDown.style.display = "none";
                    window.location.href = "Index";
                }  
            }, 1000);  
        }  
    </script>  
</head>  
<body style="height: 180px">  
    <form id="form1" runat="server">
            <div style="display: flex; gap: 100px; justify-content: center;" height: 63px; width: 284px">
                <input type="button" value="Redirect to another Page" onclick="RedirectAfterDelayFn()" style="border-width: thick; border-style: double; background-color: #FFFFFF; height: 40px; width: 215px;" />  
            <br />  
            <br />  
            <div id="CountDown" style="display: none">  
                You will be redirected after  
                <br />  
                <span id="CountDownLabel"></span> seconds.  
            </div>  
        </div>  
    </form>  
</body>  
</html>  