
<div style="display: flex; flex-direction: column;">

    <form method="post" asp-controller="Home" asp-action="OnRegister">
        <h1>Register</h1>
        Username <br />
        <input name="regUsernameInput" type="text" />
        <br />
        Email <br />
        <input name="regEmailInput" type="email" />
        <br />
        Password <br />
        <input name="regPasswordInput" type="password" />
        <br />
        <button type="submit">Register</button>
    </form>
</div>
