
@using projektASP.Controllers

<link rel="stylesheet" href="~/css/base.css" />
<link rel="stylesheet" href="~/css/Login-register.css" />
@{
    ViewData["Title"] = "Home Page";
}


<div class="mainBackground" style="background-image: url('/Pictures/Login-Register/login-sky-background.png');">

<div class="login-reg-box">
    <div style="display: flex; gap: 100px; justify-content: center;">
        <div style="display: flex; flex-direction: column;">

                <form method="post" asp-controller="Home" asp-action="OnRegister">
                    <h1>Register</h1>
                    <div class="avatar">
                        <img id="avatar-preview" src="/Pictures/Login-Register/1.jpg" />
                        <div class="avatar-buttons">
                            <input type="radio" name="regAvatarInput" id="avatar-1" value="1" onchange="changeAvatar()" checked/>
                            <label for="avatar-1">
                                <img src="/Pictures/Login-Register/1.jpg" />
                            </label>
                            <input type="radio" name="regAvatarInput" id="avatar-2" value="2" onchange="changeAvatar()" />
                            <label for="avatar-2">
                                <img src="/Pictures/Login-Register/2.jpg" />
                            </label>
                            <input type="radio" name="regAvatarInput" id="avatar-3" value="3" onchange="changeAvatar()" />
                            <label for="avatar-3">
                                <img src="/Pictures/Login-Register/3.jpg" />
                            </label>
                            <input type="radio" name="regAvatarInput" id="avatar-4" value="4" onchange="changeAvatar()" />
                            <label for="avatar-4">
                                <img src="/Pictures/Login-Register/4.jpg" />
                            </label>
                        </div>
                    </div>
                    <p style="color:#104EB8;">Already have an account? <a style="color: #51C64B;" href="Login"> Login now!</a></p>
                    <input name="regUsernameInput" type="text" placeholder="Enter username" class="cornerInput" minlength="3" />
                    <br /><br />
                    <input name="regEmailInput" type="email" placeholder="Enter email" class="cornerInput" />
                    <br /><br />
                    <input name="regPasswordInput" type="password" placeholder="Enter password" class="cornerInput" minlength="6" />
                    <br />
                    <br />
                    <button type="submit" class="login-bt">Register</button>
                    <br />
                    <br />
                </form>
            </div>


        </div>
    </div>

</div>

<script>
    function changeAvatar() {
        document.getElementById("avatar-preview").src = document.querySelector(".avatar-buttons > input:checked + label > img").src;
    }
</script>