<link rel="stylesheet" href="~/css/base.css" />
<link rel="stylesheet" href="~/css/forum.css" />
@{
    ViewData["Title"] = "Home Page";
}

<div class="main-container">


@{
	string search = SQlite.GetSearchCookie(Context);

	for (int i = (int)SQlite.GetTotalPostAmount(); i >= 0; i--)
	{

		if (SQlite.GetPostText(i) == null || SQlite.GetPostText(i) == "") { continue; }

		if(SQlite.PostSearch(search, i))
		{
			<div class="post-box">
				<div class="user-container">
					<img src=@SQlite.GetPFP(Context, i) width="7%" style="border-radius: 20px;">
					<h3>@SQlite.GetPostUser(i)</h3>
				</div>
				<p><h2>@SQlite.GetPostTitle(i)</h2></p>
				<p>@SQlite.GetPostText(i)</p>
				<br>
				<div class="fictional-footer-container">
					@SQlite.GetPostTime(i)
					<button type="button">Click Me!</button>
				</div>
			</div>
		}
	}
}

</div>