
.front-text-center h1,
.front-text-center h3 {
    margin: 0;
}


body{
    font-family: Sugar;
}

.green-box-front-text {
    background-color: rgba(16, 78, 184, 0.6); /* Opacity for the background yeag */
    border-radius: 25px;
    padding-left: 0.8%;
    padding-right: 0.8%;
}

    .green-box-front-text h3 {
        opacity: 1; /* opacity for the text so you can actual sutsee it*/
    }
.infoBackground{
    background-size: cover;
    background-position: center;
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.music-weather-box-container {
    display: flex;
    justify-content: space-around;
    padding-top: 10%;
    width: 100%;
}
.music-weather-box-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    text-align: center;
    width: 20%;
}
.blue-info-container-1 {
    background-size: cover;
    background-position: center;
    background-color: #B8DDFF;
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.white-video-container {
    background-size: cover;
    background-position: center;
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
